
.wrapper {
  background-color: rgb(217, 218, 220);
  text-align: center;
}

.row1 {
  display: flex;
  background-color: rgb(159, 155, 155);
  justify-content: flex-end;
  padding: 1.5rem;
  color: white;
}

.row2,
.row3,
.row4,
.row5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row6 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.row2-col4,
.row3-col4,
.row4-col4,
.row5-col4,
.row6-col3 {
  background-color: rgb(252, 144, 44);
}

.row6-col2 {
  font-size: larger;
  font-weight: 700;
}

.row4 > div,
.row2 > div,
.row3 > div,
.row5 > div,
.row6 > div {
  border: 1px solid rgba(156, 156, 156, 0.592);
  padding: 2rem;
}
